<nav class="navbar navbar-expand navbar-light">
  <a class="navbar-brand text-light" href="https://www.dol.gov">DEPARTMENT OF LABOR</a>
  <ul class="navbar-nav ml-auto">
  <% if can? :create, User  %>
    <li class="nav-item"><%= link_to('Manage Users', users_path, method: :get, class: 'text-light nav-link') %></li>
  <% end %>
  <% if user_signed_in? %>
    <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "text-light nav-link") %></li>
  <% end %>
  </ul>
</nav>
